.results{
    text-align: center;
    font-family: sans-serif;
    padding: 30px;
    
    color:white;
}
.results .try-again{
    background-color: white;
    border: 1px solid white;
    font-size: 20px;
    padding: 13px 20px;
    border-radius: 30px;
    margin-top: 25px;
    color: black;
    cursor: pointer;
    width: 250px;
}
.fadeUp{
    animation:fadeUp .3s;
}
@keyframes fadeUp{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}